# Node files
# ------------
node_modules

# System files
# ------------
Icon
.DS_Store

# Temporary files
# ---------------
/public/media/*
!/public/media/index.html

# Content files
# ------------
/data/storage/content/*
/data/storage/languages/*
!/data/storage/content/home
# Demo files in git repo
!/data/storage/content/meta
!/data/storage/content/news
!/data/storage/content/projects

# Custom Kirby plugins
# ------------
/site/plugins/*
!/site/plugins/html-helpers
!/site/plugins/seo-helpers

# Env files
# ------------
/.env
/site/config/env.php

# Lock files
# ---------------
.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode/*
/.nova
/.idea
!/.vscode/settings.json

# Composer dependencies
# ---------------------
/vendor

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Accounts
# ---------------
/data/storage/accounts/*
!/data/storage/accounts/.gitkeep

# Runtime Files
# ---------------
/data/runtime/*
!/data/runtime/cache/.gitkeep
!/data/runtime/logs/.gitkeep
!/data/runtime/sessions/.gitkeep

# License
# ---------------
/data/storage/.license
