# Node files
# ------------
node_modules

# Distributed files
# ------------
/public/assets/*

# Content files
# ------------
/public/content/*
# !/public/content/aktuell
# !/public/content/error
# !/public/content/meta
# !/public/content/projekte
# !/public/content/site.txt

# Kirby files
# ------------
/public/composer.lock
/public/kirby/*
/public/vendor/*

# System files
# ------------
Icon
.DS_Store

# Editor config files
# ------------
.vscode
.nova
.idea
.env

# Temporary files
# ---------------
/public/media/*
!/public/media/index.html

# Lock files
# ---------------
.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------
/public/site/cache/*
!/public/site/cache/index.html

# Accounts
# ---------------
/public/site/accounts/*
!/public/site/accounts/index.html

# Sessions
# ---------------
/public/site/sessions/*
!/public/site/sessions/index.html

# License
# ---------------
/public/site/config/.license
