@layer components {
  /*** Nav main ***/
  #nav-main {
    interpolate-size: allow-keywords;
    transition: opacity 0.2s ease-out, display 0.2s ease-out allow-discrete;
    @apply will-change-[opacity,display];
    @apply max-md:fixed;
    @apply max-md:z-30;
    @apply max-md:inset-0;
    @apply max-md:hidden;
    @apply max-md:opacity-0;
    @apply max-md:p-4;
    @apply max-md:bg-white;
  }
  .is-nav-open #nav-main {
    @apply max-md:opacity-100;
    @apply max-md:block;
  }
  @starting-style {
    .is-nav-open #nav-main {
      @apply opacity-0;
    }
  }
  #nav-main > ul {
    @apply md:flex;
    @apply md:space-x-4;
  }

  /* Nav dropdown */
  #nav-main.is-dropdown > ul a {
    @apply md:block;
  }
  #nav-main.is-dropdown > ul > li {
    @apply md:relative;
  }
  #nav-main.is-dropdown > ul > li:hover > ul {
    @apply md:block;
  }
  #nav-main.is-dropdown > ul > li > ul {
    @apply max-md:block;
    @apply md:hidden;
    @apply md:absolute;
    @apply md:z-0;
    @apply md:-ml-4;
    @apply md:p-4;
    @apply md:whitespace-nowrap;
    @apply md:bg-white;
    @apply md:border md:border-primary;
  }
  #nav-main.is-dropdown > ul > li > ul > li {
    @apply md:my-1;
    @apply md:min-w-full;
  }


  /*** Navicon ***/
  #navicon {
    @apply fixed;
    @apply z-40;
    @apply right-4;
    @apply top-4;
    @apply md:hidden;
  }
  #navicon .is-open {
    @apply block;
  }
  #navicon .is-closed {
    @apply hidden;
  }
  .is-nav-open,
  .is-nav-open body {
    @apply max-md:overflow-hidden;
  }
  .is-nav-open #navicon .is-open {
    @apply max-md:hidden;
  }
  .is-nav-open #navicon .is-closed {
    @apply max-md:block;
  }
}
