*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::-ms-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Helvetica, sans-serif; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
  @font-face {
    font-family: "MyFont";
    src: url("../fonts/MyFont-Bol.woff2") format("woff2"), url("../fonts/MyFont-Bol.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "MyFont";
    src: url("../fonts/MyFont-Med.woff2") format("woff2"), url("../fonts/MyFont-Med.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
  }
  /*** Defaults ***/
  body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: Helvetica, sans-serif;
  font-size: 1.0rem;
  line-height: 1.4;
  color: #0A0A0A;
  background-color: #f3f4f6;
}
  main {
  display: block;
}

  /*** Typography ***/
  h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  text-wrap: balance;
  font-size: 2rem;
  line-height: 1.4;
}
  h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  text-wrap: balance;
  font-size: 1.5rem;
  line-height: 1.4;
}
  h3 {
  text-wrap: pretty;
}
  p + h2,
  ul + h2,
  p + h3,
  ul + h3 {
  margin-top: 2rem;
}
  /* Block elements */
  article p {
  margin-bottom: 1rem;
}
  article ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
  article li p:last-child {
  margin-bottom: 0px;
}
  article ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
  article hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-color: #5b7f95;
}
  /* Inline elements */
  article a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #5b7f95;
}
/*
  The base layer is for things like reset rules
  or default styles applied to plain HTML elements.
*/
/*** Buttons ***/
.btn {
    text-box-trim: trim-both;
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 0.125rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #5b7f95;
    font-weight: 700;
    color: #fff;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
/*** Anchor ***/
/*** Aspect ratio ***/
.__aspect {
  display: block;
  position: relative;
}
.__aspect > * {
  position: absolute;
  width: 100%;
  height: 100%;
}
.__aspect.is-16x9 {
  padding-bottom: calc(9 / 16 * 100%);
}
.__aspect.is-8x6 {
  padding-bottom: calc(6 / 8 * 100%);
}
/*** Center layout ***/
.__center {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {

  .__center {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
/*** Layout grid ***/
.__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {

  .__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {

  .__grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.__grid.is-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.__grid.is-2 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {

  .__grid.is-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {

  .__grid.is-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.__grid.is-3 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {

  .__grid.is-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {

  .__grid.is-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.__grid > * {
  grid-auto-rows: minmax(0, 1fr);
}
/*** Blocks ***/
.__block {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {

  .__block {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
.__block:first-child {
  margin-top: 0px;
}
.__block:last-child {
  margin-bottom: 0px;
}
.__block.is-type-heading {
  margin-bottom: 0px;
}
.__block.is-type-heading + .__block.is-type-text {
  margin-top: 0px;
}
.__block.is-type-text:has(+ .__block.is-type-downloads) {
  margin-bottom: 0px;
}
.__block.is-type-text + .__block.is-type-downloads {
  margin-top: 0px;
}
/*** Nav main ***/
#nav-main {
    interpolate-size: allow-keywords;
    transition: opacity 0.2s ease-out, display 0.2s ease-out allow-discrete;
    will-change: opacity,display;
  }
@media not all and (min-width: 768px) {

  #nav-main {
    position: fixed;
    z-index: 30;
    inset: 0px;
    display: none;
    opacity: 0;
    padding: 1rem;
    background-color: #fff;
  }

  .is-nav-open #nav-main {
    opacity: 1;
    display: block;
  }
}
@starting-style {
    .is-nav-open #nav-main {
    opacity: 0;
  }
  }
@media (min-width: 768px) {

  #nav-main > ul {
    display: flex;
  }

  #nav-main > ul > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }
}
/* Nav dropdown */
@media (min-width: 768px) {

  #nav-main.is-dropdown > ul a {
    display: block;
  }

  #nav-main.is-dropdown > ul > li {
    position: relative;
  }

  #nav-main.is-dropdown > ul > li:hover > ul {
    display: block;
  }
}
@media not all and (min-width: 768px) {

  #nav-main.is-dropdown > ul > li > ul {
    display: block;
  }
}
@media (min-width: 768px) {

  #nav-main.is-dropdown > ul > li > ul {
    display: none;
    position: absolute;
    z-index: 0;
    margin-left: -1rem;
    padding: 1rem;
    white-space: nowrap;
    background-color: #fff;
    border-width: 1px;
    border-color: #5b7f95;
  }

  #nav-main.is-dropdown > ul > li > ul > li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    min-width: 100%;
  }
}
/*** Navicon ***/
#navicon {
  position: fixed;
  z-index: 40;
  right: 1rem;
  top: 1rem;
}
@media (min-width: 768px) {

  #navicon {
    display: none;
  }
}
#navicon .is-open {
  display: block;
}
#navicon .is-closed {
  display: none;
}
@media not all and (min-width: 768px) {

  .is-nav-open,
  .is-nav-open body {
    overflow: hidden;
  }

  .is-nav-open #navicon .is-open {
    display: none;
  }

  .is-nav-open #navicon .is-closed {
    display: block;
  }
}
.__accordion {
    interpolate-size: allow-keywords;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom-width: 1px;
    border-color: #000;
	}
.__accordion details {
  border-top-width: 1px;
  border-color: #000;
}
.__accordion summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.__accordion h3 {
  margin: 0px;
  flex: 1 1 0%;
}
/* Icon */
.__accordion summary::-webkit-details-marker {
  display: none;
}
.__accordion summary::after {
		-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='currentcolor' fill='none' stroke-width='5' viewBox='0 0 100 100'%3E%3Cpath d='M30,96L70,50L30,4'/%3E%3C/svg%3E");
		        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='currentcolor' fill='none' stroke-width='5' viewBox='0 0 100 100'%3E%3Cpath d='M30,96L70,50L30,4'/%3E%3C/svg%3E");
		-webkit-mask-size: cover;
		        mask-size: cover;
		will-change: transform;
		transition-property: transform;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
		transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
		--tw-content: '';
		content: var(--tw-content);
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		--tw-rotate: 90deg;
		transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
		transform-origin: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #000;
	}
.__accordion details[open] > summary::after {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
/* Animation (Chrome) */
.__accordion details[open] {
  padding-bottom: 1rem;
}
.is-js .__accordion details::details-content {
    block-size: 0;
    transition-behavior: allow-discrete;
    will-change: block-size,content-visibility;
    transition-property: block-size,content-visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    overflow: hidden;
  }
.is-js .__accordion details[open]::details-content {
    block-size: auto;
  }
dialog {
  transition-property: transform,opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  overflow: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  background-color: transparent;
}
dialog::-ms-backdrop {
  -ms-transition-property: opacity;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  background-color: rgb(0 0 0 / 0.5);
}
dialog::backdrop {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  background-color: rgb(0 0 0 / 0.5);
}
/* Animation */
@starting-style {
    dialog {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0;
  }
    dialog::-ms-backdrop {
    opacity: 0;
  }
    dialog::backdrop {
    opacity: 0;
  }
  }
/*
  The components layer is for class-based styles
  that you want to be able to override with utilities.
*/
.pointer-events-none {
  pointer-events: none;
}
.fixed {
  position: fixed;
}
.inset-x-0 {
  left: 0px;
  right: 0px;
}
.top-0 {
  top: 0px;
}
.z-20 {
  z-index: 20;
}
.mt-16 {
  margin-top: 4rem;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}
.h-full {
  height: 100%;
}
.w-48 {
  width: 12rem;
}
.w-8 {
  width: 2rem;
}
.w-full {
  width: 100%;
}
.basis-0 {
  flex-basis: 0px;
}
.basis-0\.5 {
  flex-basis: 0.125rem;
}
.basis-1 {
  flex-basis: 0.25rem;
}
.basis-1\.5 {
  flex-basis: 0.375rem;
}
.basis-1\/12 {
  flex-basis: 8.333333%;
}
.basis-1\/2 {
  flex-basis: 50%;
}
.basis-1\/3 {
  flex-basis: 33.333333%;
}
.basis-1\/4 {
  flex-basis: 25%;
}
.basis-1\/5 {
  flex-basis: 20%;
}
.basis-1\/6 {
  flex-basis: 16.666667%;
}
.basis-10 {
  flex-basis: 2.5rem;
}
.basis-10\/12 {
  flex-basis: 83.333333%;
}
.basis-11 {
  flex-basis: 2.75rem;
}
.basis-11\/12 {
  flex-basis: 91.666667%;
}
.basis-12 {
  flex-basis: 3rem;
}
.basis-14 {
  flex-basis: 3.5rem;
}
.basis-16 {
  flex-basis: 4rem;
}
.basis-2 {
  flex-basis: 0.5rem;
}
.basis-2\.5 {
  flex-basis: 0.625rem;
}
.basis-2\/12 {
  flex-basis: 16.666667%;
}
.basis-2\/3 {
  flex-basis: 66.666667%;
}
.basis-2\/4 {
  flex-basis: 50%;
}
.basis-2\/5 {
  flex-basis: 40%;
}
.basis-2\/6 {
  flex-basis: 33.333333%;
}
.basis-20 {
  flex-basis: 5rem;
}
.basis-24 {
  flex-basis: 6rem;
}
.basis-28 {
  flex-basis: 7rem;
}
.basis-3 {
  flex-basis: 0.75rem;
}
.basis-3\.5 {
  flex-basis: 0.875rem;
}
.basis-3\/12 {
  flex-basis: 25%;
}
.basis-3\/4 {
  flex-basis: 75%;
}
.basis-3\/5 {
  flex-basis: 60%;
}
.basis-3\/6 {
  flex-basis: 50%;
}
.basis-32 {
  flex-basis: 8rem;
}
.basis-36 {
  flex-basis: 9rem;
}
.basis-4 {
  flex-basis: 1rem;
}
.basis-4\/12 {
  flex-basis: 33.333333%;
}
.basis-4\/5 {
  flex-basis: 80%;
}
.basis-4\/6 {
  flex-basis: 66.666667%;
}
.basis-40 {
  flex-basis: 10rem;
}
.basis-44 {
  flex-basis: 11rem;
}
.basis-48 {
  flex-basis: 12rem;
}
.basis-5 {
  flex-basis: 1.25rem;
}
.basis-5\/12 {
  flex-basis: 41.666667%;
}
.basis-5\/6 {
  flex-basis: 83.333333%;
}
.basis-52 {
  flex-basis: 13rem;
}
.basis-56 {
  flex-basis: 14rem;
}
.basis-6 {
  flex-basis: 1.5rem;
}
.basis-6\/12 {
  flex-basis: 50%;
}
.basis-60 {
  flex-basis: 15rem;
}
.basis-64 {
  flex-basis: 16rem;
}
.basis-7 {
  flex-basis: 1.75rem;
}
.basis-7\/12 {
  flex-basis: 58.333333%;
}
.basis-72 {
  flex-basis: 18rem;
}
.basis-8 {
  flex-basis: 2rem;
}
.basis-8\/12 {
  flex-basis: 66.666667%;
}
.basis-80 {
  flex-basis: 20rem;
}
.basis-9 {
  flex-basis: 2.25rem;
}
.basis-9\/12 {
  flex-basis: 75%;
}
.basis-96 {
  flex-basis: 24rem;
}
.basis-auto {
  flex-basis: auto;
}
.basis-full {
  flex-basis: 100%;
}
.basis-px {
  flex-basis: 1px;
}
.resize {
  resize: both;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-2 {
  gap: 0.5rem;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.border-0 {
  border-width: 0px;
}
.bg-primary {
  background-color: #5b7f95;
}
.bg-white {
  background-color: #fff;
}
.p-4 {
  padding: 1rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pt-16 {
  padding-top: 4rem;
}
.text-right {
  text-align: right;
}
.not-italic {
  font-style: normal;
}
.text-white {
  color: #fff;
}
.no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
/*** Mobile screen ***/
/*** JS Support ***/
/* js */
.no-js {
    /* no js detected */
  }
.is-js {
    /* js detected */
  }
/*
  The utilities layer is for small, single-purpose classes
  that should always take precedence over any other styles.
*/
/* purgecss start ignore */
/* purgecss end ignore */
@media (min-width: 768px) {

  .md\:flex {
    display: flex;
  }

  .md\:flex-1 {
    flex: 1 1 0%;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:justify-items-start {
    justify-items: start;
  }

  .md\:space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
  }
}
@media (min-width: 1024px) {

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:gap-4 {
    gap: 1rem;
  }
}
.\[\&\>div\>\*\]\:pointer-events-auto>div>* {
  pointer-events: auto;
}
.\[\&_a\]\:text-white a {
  color: #fff;
}
.\[\&_li\.is-selected\>a\]\:text-secondary li.is-selected>a {
  color: #2c3d4a;
}
.\[\&_li\>a\:hover\]\:text-secondary li>a:hover {
  color: #2c3d4a;
}

